.navbar__main {
  background-color: rgb(19, 19, 124);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  text-decoration: none;
  color: floralwhite;
  font-size: 14px;
  text-align: center;
  align-items: center;
  padding-left: 50px;
}
.active__link {
  color: rgb(255, 208, 0);
}
.link_set {
  padding-left: 80px;
}
.avatar {
  margin-right: 50px;
  padding: 10px;
}
@media (max-width: 500px) {
  .link_set {
    display: flex;
    flex-direction: column;
  }
  .link {
    padding: 8px;
  }
}
.avatar__content {
  text-align: center;
  padding: 10px;
}
